body{
    font-size: large;
    background-color: rgb(193, 245, 207);
    }

img {
    width:100%;
    float: left;
    border: 3px;
    border-color: black;

}


h1{
    font-size:xx-large;
}
h2{
   
    
    text-align: center;
    margin: 10px;
    width:100%
}

h1, h2{
    color:rgb(65, 214, 19);
}

div{
    display:flex;
    height: 100%;
    background-color:rgb(15, 136, 47);
    overflow: auto;
    margin: 100px
}

section.left{
    float: left;
    background-color: rgb(2, 24, 8);
    padding: 30px; 
    color: whitesmoke;
}

section.right{
    background-color: white;
    padding: 30px;
}